<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bayesian Belief Network</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">


    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>



    <header class="header" id="titleheader">
      <div class="container">
        <span class="text-muted"><h1>Bayesian Belief Network</h1></span>
      </div>
    </header>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container" id="netmenu">
        <ul class="nav navbar-nav">
          <li><a href={{url_for('index')}}><h3>Network</h3></a></li>
          <li><a href={{url_for('dseparation')}}><h3>D-separation Analysis</h3></a></li>
          <li><a href={{url_for('inference')}}><h3>Inference</h3></a></li>
          <li><a href={{url_for('legend')}}><h3>Legend</h3></a></li>
        </ul>
      </div>
    </nav>

  </body>
</html>
